name: 02 - Eventos
on: 
    push:
    pull_request:
    workflow_dispatch:
    #schedule:
        #- cron: "3 * * * *"
        
jobs:
    ShowTrigger:
        runs-on: ubuntu-latest
        steps:
            - name: ShowTrigger
              run: echo "${{ github.event_name }}"